.stack-work/*
site/node_modules/*
site/fontawesome-free-5.0.6/*
site/node-v8.9.4-linux-x64/*
site/jquery-3.2.1/*
*.dump-hi
*~
*.hie
blog/drafts/
dist-newstyle/
stack.yaml.lock
weeder.dhall
deps.jpg
Cargo.lock
demos/game-of-life/target/*
style/fontawesome/*
