@charset "utf-8";

@import "../../style/bulma/sass/utilities/_all.sass";
@import "../../style/bulma/sass/base/_all.sass";
@import "../../style/bulma/sass/components/navbar.sass";
@import "../../style/bulma/sass/components/menu.sass";
@import "../../style/bulma/sass/elements/button.sass";
@import "../../style/bulma/sass/elements/content.sass";
@import "../../style/bulma/sass/elements/title.sass";

// --- CSS Grid --- //

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 0.1fr 0.9fr; */
  grid-template-rows: 0.1fr auto;
  gap: 10px 10px;
  grid-template-areas:
    "grid-navbar grid-navbar grid-navbar grid-navbar grid-navbar grid-navbar grid-navbar grid-navbar"
    "grid-left grid-left grid-main grid-main grid-main grid-main grid-right grid-right";
}

.grid-navbar {
  grid-area: grid-navbar;
}

.grid-left {
  grid-area: grid-left;
}

.grid-right {
  grid-area: grid-right;
}

.grid-main {
  grid-area: grid-main;
}

// --- Navbar --- //

.is-underlined {
  text-decoration: underline;
}

// --- Blog --- //

.is-centered {
  display: flex;
  justify-content: center;
}

.left-padding {
  padding-left: 10px;
}
