@charset "utf-8";

// --- Bulma Overrides --- //

// This prevent navbar "burgering".
$navbar-breakpoint: 0;

// Dark Theme from Bulmaswatch
// To disable the theme, just delete this chunk of overrides.
$grey-lighter: #dbdee0;
$grey-light: #8c9b9d;
$grey: darken($grey-light, 18);
$grey-dark: darken($grey, 18);
$grey-darker: darken($grey, 23);

$orange: #e67e22;
$yellow: #f1b70e;
$green: #2ecc71;
$turquoise: #1abc9c;
$blue: #3498db;
$purple: #8e44ad;
$red: #e74c3c;
$white-ter: #ecf0f1;
$primary: #375a7f !default;
$yellow-invert: #fff;

$subtitle-color: $grey-dark;
$border: $grey;

$body-background-color: darken($grey-darker, 4);

$background: $grey-darker;
$footer-background-color: $background;
$button-background-color: $background;
$button-border-color: lighten($button-background-color, 15);

$title-color: #fff;
$subtitle-color: $grey-light;
$subtitle-strong-color: $grey-light;

$text: #fff;
$text-light: lighten($text, 10);
$text-strong: darken($text, 5);

$box-color: $text;
$box-background-color: $grey-dark;
$box-shadow: none;

$link: $turquoise;
$link-hover: lighten($link, 5);
$link-focus: darken($link, 5);
$link-active: darken($link, 5);
$link-focus-border: $grey-light;

$button-color: $primary;
$button-hover-color: darken($text, 5); // text-dark
$button-focus: darken($text, 5); // text-dark
$button-active-color: darken($text, 5); // text-dark
$button-disabled-background-color: $grey-light;

$input-color: $grey-darker;
$input-icon-color: $grey;
$input-icon-active-color: $input-color;
$input-hover-color: $grey-light;
$input-disabled-background-color: $grey-light;
$input-disabled-border: $grey-lighter;

$table-color: $text;
$table-head: $grey-lighter;
$table-background-color: $grey-dark;
$table-cell-border: 1px solid $grey;

$table-row-hover-background-color: $grey-darker;
$table-striped-row-even-background-color: $grey-darker;
$table-striped-row-even-hover-background-color: lighten($grey-darker, 2);

$pagination-color: $link;
$pagination-border-color: $border;

$navbar-background-color: $primary;
/* $navbar-background-color: $body-background-color; */
$navbar-item-color: $text;
$navbar-item-hover-color: $link;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $link;
$navbar-dropdown-arrow: #fff;
$navbar-divider-background-color: rgba(0, 0, 0, 0.2);
$navbar-dropdown-border-top: 1px solid $navbar-divider-background-color;
$navbar-dropdown-background-color: $primary;
$navbar-dropdown-item-hover-color: $grey-lighter;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-active-background-color: transparent;
$navbar-dropdown-item-active-color: $link;

$card-background-color: $primary;
$card-footer-border-top: 1px solid $navbar-divider-background-color;

$dropdown-content-background-color: $background;
$dropdown-item-color: $text;
$progress-value-background-color: $grey-lighter;
$bulmaswatch-import-font: true !default;
$file-cta-background-color: $grey-darker;
$progress-bar-background-color: $grey-dark;
$panel-heading-background-color: $grey-dark;

// --- Bulma Imports --- //

@import "../../style/bulma/sass/utilities/_all.sass";
@import "../../style/bulma/sass/base/_all.sass";
@import "../../style/bulma/sass/components/navbar.sass";
@import "../../style/bulma/sass/components/menu.sass";
@import "../../style/bulma/sass/components/card.sass";
@import "../../style/bulma/sass/elements/box.sass";
@import "../../style/bulma/sass/elements/button.sass";
@import "../../style/bulma/sass/elements/content.sass";
@import "../../style/bulma/sass/elements/icon.sass";
@import "../../style/bulma/sass/elements/title.sass";
@import "../../style/bulma/sass/elements/tag.sass";
@import "../../style/bulma/sass/form/shared.sass";
@import "../../style/bulma/sass/form/tools.sass";
@import "../../style/bulma/sass/form/input-textarea.sass";

// --- CSS Grid --- //

// When at mobile sizes, the right side-bar disappears, but the left is maintained.
.grid-with-sidebar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr auto;
  gap: 10px 10px;
  grid-template-areas:
    "grid-navbar grid-navbar grid-navbar grid-navbar"
    "grid-sidebar-left grid-main grid-main grid-sidebar-right";
}

// When at mobile sizes, the main body gets the full screen.
.grid-full {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr auto;
  gap: 10px 10px;
  grid-template-areas:
    "grid-navbar grid-navbar grid-navbar grid-navbar"
    "grid-full-left grid-main grid-main grid-full-right";
}

.grid-navbar {
  grid-area: grid-navbar;
}

.grid-sidebar-left {
  grid-area: grid-sidebar-left;
}

.grid-sidebar-right {
  grid-area: grid-sidebar-right;
}

.grid-full-left {
  grid-area: grid-full-left;
}

.grid-full-right {
  grid-area: grid-full-right;
}

.grid-main {
  grid-area: grid-main;
  margin-bottom: 1%;
}

/* .grid-main:after { */
/*   content: ""; */
/*   display: block; */
/*   position: fixed; */
/*   left: 0; */
/*   top: 0; */
/*   width: 100%; */
/*   height: 100%; */
/*   /\* background-image: url("../images/space.jpg"); *\/ */
/*   background-image: url("../images/sun-mountain.jpg"); */
/*   background-position: center; */
/*   background-size: cover; */
/*   opacity: 0.2; */
/* } */

@media (max-width: 1024px) {
  .grid-with-sidebar {
    grid-template-areas:
      "grid-navbar grid-navbar grid-navbar grid-navbar"
      "grid-sidebar-left grid-main grid-main grid-main";
  }

  .grid-full {
    grid-template-areas:
      "grid-navbar grid-navbar grid-navbar grid-navbar"
      "grid-main grid-main grid-main grid-main";
  }

  .grid-sidebar-right,
  .grid-full-left,
  .grid-full-right {
    display: none;
  }

  .grid-main {
    margin-left: 1%;
    margin-right: 1%;
  }

  .mobile-hidden {
    display: none;
  }
}

// --- Navbar --- //

.is-underlined {
  text-decoration: underline;
}

// --- Landing Page --- //

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  gap: 20px;
}

// --- Al Bhed --- //

.al-bhed-inputs {
  display: flex;
  justify-content: space-evenly;
}

// --- Game of Life --- //

.game-of-life {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

// --- Web Effects --- //

.web-effects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

// --- Twitch --- //

.twitch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.twitch-player {
  padding: 56.25%;
  position: relative;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56.25%;
  }
}

// --- Blog --- //

.is-centered {
  display: flex;
  justify-content: center;
}

.left-padding {
  padding-left: 10px;
}

figure {
  img {
    border-radius: 6px;
  }
}

.blog-title {
  display: flex;
  align-items: center;
  gap: 0px 5px;
}

// --- Code --- //

div.org-src-container {
  margin: 1em 0;
}

// A bulma override.
pre.box {
  border: 1px solid #ccc;
  background-color: whitesmoke;
  box-shadow: 3px 3px 3px #eee;
  font-size: 80%;
}

pre.src {
  border: 1px solid #ccc;
  overflow: auto;
  padding-top: 1.2em;
  position: relative;
  box-shadow: 3px 3px 3px #eee;
  border-radius: 6px;
  font-size: 80%;
}

pre.src:before {
  display: block;
  position: absolute;
  background-color: #ccccd0;
  top: 0;
  right: 0;
  padding: 0.25em 0.5em;
  border-bottom-left-radius: 8px;
  border: 0;
  color: #fff;
  font-size: 80%;
}

pre.src:hover:before {
  display: inline;
}

pre.src-bash:before {
  content: "Bash";
}
pre.src-cabal:before {
  content: "Cabal";
}
pre.src-conf:before {
  content: "Conf";
}
pre.src-diff:before {
  content: "Diff";
}
pre.src-emacs-lisp:before {
  content: "Emacs Lisp";
}
pre.src-fish:before {
  content: "Fish";
}
pre.src-haskell:before {
  content: "Haskell";
}
pre.src-js:before {
  content: "Javascript";
}
pre.src-lisp:before {
  content: "Lisp";
}
pre.src-makefile:before {
  content: "Makefile";
}
pre.src-markdown:before {
  content: "Markdown";
}
pre.src-nix:before {
  content: "Nix";
}
pre.src-org:before {
  content: "Org";
}
pre.src-purescript:before {
  content: "Purescript";
}
pre.src-python:before {
  content: "Python";
}
pre.src-scala:before {
  content: "Scala";
}
pre.src-sh:before {
  content: "Bash";
}
pre.src-sql:before {
  content: "SQL";
}
pre.src-terraform:before {
  content: "Terraform";
}
pre.src-yaml:before {
  content: "YAML";
}
pre.src-toml:before {
  content: "TOML";
}
pre.src-rust:before {
  content: "Rust";
}
