@charset "utf-8";

// --- Bulma Overrides --- //

// This prevent navbar "burgering".
$navbar-breakpoint: 0;

// --- Bulma Imports --- //

@import "../../style/bulma/sass/utilities/_all.sass";
@import "../../style/bulma/sass/base/_all.sass";
@import "../../style/bulma/sass/components/navbar.sass";
@import "../../style/bulma/sass/components/menu.sass";
@import "../../style/bulma/sass/elements/box.sass";
@import "../../style/bulma/sass/elements/button.sass";
@import "../../style/bulma/sass/elements/content.sass";
@import "../../style/bulma/sass/elements/title.sass";
@import "../../style/bulma/sass/form/shared.sass";
@import "../../style/bulma/sass/form/tools.sass";
@import "../../style/bulma/sass/form/input-textarea.sass";

// --- CSS Grid --- //

// When at mobile sizes, the right side-bar disappears, but the left is maintained.
.grid-with-sidebar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr auto;
  gap: 10px 10px;
  grid-template-areas:
    "grid-navbar grid-navbar grid-navbar grid-navbar"
    "grid-sidebar-left grid-main grid-main grid-sidebar-right";
}

// When at mobile sizes, the main body gets the full screen.
.grid-full {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr auto;
  gap: 10px 10px;
  grid-template-areas:
    "grid-navbar grid-navbar grid-navbar grid-navbar"
    "grid-full-left grid-main grid-main grid-full-right";
}

.grid-navbar {
  grid-area: grid-navbar;
}

.grid-sidebar-left {
  grid-area: grid-sidebar-left;
}

.grid-sidebar-right {
  grid-area: grid-sidebar-right;
}

.grid-full-left {
  grid-area: grid-full-left;
}

.grid-full-right {
  grid-area: grid-full-right;
}

.grid-main {
  grid-area: grid-main;
  margin-bottom: 1%;
}

@media (max-width: 1024px) {
  .grid-with-sidebar {
    grid-template-areas:
      "grid-navbar grid-navbar grid-navbar grid-navbar"
      "grid-sidebar-left grid-main grid-main grid-main";
  }

  .grid-full {
    grid-template-areas:
      "grid-navbar grid-navbar grid-navbar grid-navbar"
      "grid-main grid-main grid-main grid-main";
  }

  .grid-sidebar-right,
  .grid-full-left,
  .grid-full-right {
    display: none;
  }

  .grid-main {
    margin-left: 1%;
    margin-right: 1%;
  }

  .mobile-hidden {
      display: none;
  }
}

// --- Navbar --- //

.is-underlined {
  text-decoration: underline;
}

// --- Al Bhed --- //

.al-bhed-inputs {
  display: flex;
  justify-content: space-evenly;
}

// --- Game of Life --- //

.game-of-life {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

// --- Web Effects --- //

.web-effects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

// --- Twitch --- //

.twitch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.twitch-player {
  padding: 56.25%;
  position: relative;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56.25%;
  }
}

// --- Blog --- //

.is-centered {
  display: flex;
  justify-content: center;
}

.left-padding {
  padding-left: 10px;
}

figure {
  img {
    border-radius: 6px;
  }
}

// --- Code --- //

div.org-src-container {
  margin: 1em 0;
}

// A bulma override.
pre.box {
  border: 1px solid #ccc;
  background-color: whitesmoke;
  box-shadow: 3px 3px 3px #eee;
  font-size: 80%;
}

pre.src {
  border: 1px solid #ccc;
  overflow: auto;
  padding-top: 1.2em;
  position: relative;
  box-shadow: 3px 3px 3px #eee;
  border-radius: 6px;
  font-size: 80%;
}

pre.src:before {
  display: block;
  position: absolute;
  background-color: #ccccd0;
  top: 0;
  right: 0;
  padding: 0.25em 0.5em;
  border-bottom-left-radius: 8px;
  border: 0;
  color: #fff;
  font-size: 80%;
}

pre.src:hover:before {
  display: inline;
}

pre.src-bash:before {
  content: "Bash";
}
pre.src-cabal:before {
  content: "Cabal";
}
pre.src-conf:before {
  content: "Conf";
}
pre.src-diff:before {
  content: "Diff";
}
pre.src-emacs-lisp:before {
  content: "Emacs Lisp";
}
pre.src-fish:before {
  content: "Fish";
}
pre.src-haskell:before {
  content: "Haskell";
}
pre.src-js:before {
  content: "Javascript";
}
pre.src-lisp:before {
  content: "Lisp";
}
pre.src-makefile:before {
  content: "Makefile";
}
pre.src-markdown:before {
  content: "Markdown";
}
pre.src-nix:before {
  content: "Nix";
}
pre.src-org:before {
  content: "Org";
}
pre.src-purescript:before {
  content: "Purescript";
}
pre.src-python:before {
  content: "Python";
}
pre.src-scala:before {
  content: "Scala";
}
pre.src-sh:before {
  content: "Bash";
}
pre.src-sql:before {
  content: "SQL";
}
pre.src-terraform:before {
  content: "Terraform";
}
pre.src-yaml:before {
  content: "YAML";
}
pre.src-toml:before {
  content: "TOML";
}
pre.src-rust:before {
  content: "Rust";
}
