#org-div-home-and-up { text-align: right; font-size: 70%; white-space: nowrap; }
#org-info-js_console-label { font-size: 10px; font-weight: bold; white-space: nowrap; }
.center { margin-left: auto; margin-right: auto; text-align: center; }
.done { color: green; }
.figure p { text-align: center; }
.figure { padding: 1em; }
.footdef { margin-bottom: 1em; }
.footpara { display: block; }
.footpara:nth-child(2) { display: inline; }
.inlinetask { padding: 10px; border: 2px solid gray; margin: 10px; background: #ffffcc; }
.left { margin-left: 0px; margin-right: auto; text-align: left; }
.linenr { font-size: smaller }
.org-info-js_info-navigation { border-style: none; }
.org-info-js_search-highlight { background-color: #ffff00; color: #000000; font-weight: bold; }
.right { margin-left: auto; margin-right: 0px; text-align: right; }
.tag { background-color: #eee; font-family: monospace; padding: 2px; font-size: 80%; font-weight: normal; }
.timestamp { color: #bebebe; }
.timestamp-kwd { color: #5f9ea0; }
.title { text-align: center; }
.todo { font-family: monospace; color: red; }
.underline { text-decoration: underline; } #postamble p, #preamble p { font-size: 90%; margin: .2em; }
blockquote{margin:1em 2em;padding-left:1em;border-left:3px solid #ccc}
caption.t-above { caption-side: top; }
caption.t-bottom { caption-side: bottom; }
code.org-highlight {padding:2px 5px;margin:auto 1px;border:1px solid #ddd;border-radius:3px;background-clip:padding-box;font-size:80%}
dt { font-weight: bold; }
img { max-width: 100%; height: auto; }
p.verse { margin-left: 3%; }
pre { border: 1px solid #ccc; box-shadow: 3px 3px 3px #eee; padding: 8pt; font-family: monospace; overflow: auto; margin: 1.2em; }
pre.src-bash:before { content: 'Bash'; }
pre.src-cabal:before { content: 'Cabal'; }
pre.src-conf:before { content: 'Conf'; }
pre.src-diff:before { content: 'Diff'; }
pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
pre.src-fish:before { content: 'Fish'; }
pre.src-haskell:before { content: 'Haskell'; }
pre.src-js:before { content: 'Javascript'; }
pre.src-lisp:before { content: 'Lisp'; }
pre.src-makefile:before { content: 'Makefile'; }
pre.src-markdown:before { content: 'Markdown'; }
pre.src-nix:before { content: 'Nix'; }
pre.src-org:before { content: 'Org'; }
pre.src-purescript:before { content: 'Purescript'; }
pre.src-python:before { content: 'Python'; }
pre.src-scala:before { content: 'Scala'; }
pre.src-sh:before { content: 'Bash'; }
pre.src-sql:before { content: 'SQL'; }
pre.src-terraform:before { content: 'Terraform'; }
pre.src-yaml:before { content: 'YAML'; }
pre.src-toml:before { content: 'TOML'; }
pre.src-rust:before { content: 'Rust'; }
pre.src:before{display:block;position:absolute;background-color:#ccccd0;top:0;right:0;padding:.25em .5em;border-bottom-left-radius:8px;border:0;color:#fff;font-size:80%}
pre.src:hover:before { display: inline;}
pre.src{overflow:auto;padding-top:1.2em;position:relative;font-size:80%}
textarea { overflow-x: auto; }
