body {
    background: 0 -100px repeat-x url(/assets/bg_gallery.png) #4F191A;
    margin: 10px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.love-letter-title {
    font-family: cursive;
    color: gold;
    text-shadow: 2px 2px black;
}

.tracker-version {
    color: silver;
    text-shadow: 2px 2px black;
}

.opponent-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.opponent-name {
    font-weight: bold;
    text-align: center;
    color: silver;
    text-shadow: 2px 2px black;
}

.love-letter-title h1 {
    margin: 5px;
}

.card-line {
    display: flex;
}

input {
    border-radius: 25px;
    width: 100%;
    box-shadow: 3px 3px 5px;
}

input:hover {
    opacity: 0.8;
}

.text-overlay {
    position: relative;
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: bold;
    font-family: monospace;
    -webkit-text-stroke: 1px black;
}

.text-overlay div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    border-radius: 25px;
    width: 100%;
    box-shadow: 3px 3px 5px black;
}

img:hover {
    opacity: 0.8;
}

figure {
    margin-left: 16px;
    margin-right: 16px;
}

figcaption {
    text-align: center;
    color: silver;
    text-shadow: 2px 2px black;
}

.zero {
    opacity: 0.25;
}

.btn-group, .btn-group-vertical, .btn-secondary {
    box-shadow: 3px 3px 5px black;
}

.section-text {
    font-weight: bold;
    color: silver;
    text-shadow: 2px 2px black;
}
