/* Top-level Elements */

body {
    background: 0 -100px repeat-x url(/assets/bg_gallery.png) #4F191A;
    margin: 10px;
}

/* CSS Grid - Startup */

.grid-startup-container {
    min-height: 98vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 0px 0px;
    grid-template-areas:
        "grid-startup-left grid-startup-main grid-startup-right"
        "grid-startup-footer grid-startup-footer grid-startup-footer";
}

.grid-startup-left { grid-area: grid-startup-left; }

.grid-startup-right { grid-area: grid-startup-right; }

.grid-startup-main { grid-area: grid-startup-main; }

.grid-startup-footer { grid-area: grid-startup-footer; }

/* CSS Grid - Main Game */

.grid-game-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.3fr 2.5fr;
    gap: 10px 5px;
    grid-template-areas:
        "grid-game-top-left grid-game-top-left grid-game-top-center grid-game-top-center grid-game-top-right grid-game-top-right"
        "grid-game-unseen grid-game-unseen grid-game-unseen grid-game-seen grid-game-seen grid-game-seen"
        "grid-game-opponents grid-game-opponents grid-game-opponents grid-game-opponents grid-game-opponents grid-game-opponents";
}

.grid-game-top-left { grid-area: grid-game-top-left; }

.grid-game-top-center { grid-area: grid-game-top-center; }

.grid-game-top-right { grid-area: grid-game-top-right; }

.grid-game-unseen { grid-area: grid-game-unseen; }

.grid-game-seen { grid-area: grid-game-seen; }

.grid-game-opponents { grid-area: grid-game-opponents; }

/* Other Elements */

.startup-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.top-bar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.love-letter-title {
    font-family: cursive;
    color: gold;
    text-shadow: 2px 2px black;
    font-size: 3em;
}

.tracker-version {
    color: silver;
    text-shadow: 2px 2px black;
}

.reset-btn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.opponent-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 1%;
}

.opponent-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opponent-name {
    font-weight: bold;
    text-align: center;
    color: silver;
    text-shadow: 2px 2px black;
}

div .input-group {
    box-shadow: 3px 3px 5px;
}

.card-line {
    display: flex;
    align-items: flex-start;
}

.card-line div {
    padding-right: 1%;
}

.card-line div input {
    width: 75%;
}

.text-overlay {
    position: relative;
    text-align: center;
    color: white;
    /* font-size: 1.25em; */
    font-family: monospace;
}

.text-overlay span {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
}

.zero {
    opacity: 0.25;
}

.btn-group, .btn-group-vertical, .btn-secondary, .btn-success {
    box-shadow: 3px 3px 5px black;
}

.input-group .btn-success {
    box-shadow: none;
}

.bold-silver {
    font-weight: bold;
    color: silver;
    text-shadow: 2px 2px black;
}

.right-align {
    text-align: right;
}

/* Element Styling */

a {
    font-weight: bold;
    color: #4a9bf7;
    text-shadow: 2px 2px black;
}

a.list-group-item {
    font-weight: normal;
    color: black;
    text-shadow: none;
}

a.gold {
    color: gold;
}

a.gold:hover {
    color: #bfa006;
}

.rounded-image {
    border-radius: 25px;
    width: 75%;
    box-shadow: 3px 3px 5px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* .rounded-image:hover { */
/*     opacity: 0.8; */
/* } */

/* TODO Remove */
input[type="image"] {
    border-radius: 25px;
    width: 75%;
    box-shadow: 3px 3px 5px;
}

input[type="image"]:hover {
    opacity: 0.8;
}

em {
    color: silver;
    text-shadow: 2px 2px black;
}

/* Overrides */

.list-group {
    width: 100%;
    box-shadow: 3px 3px 5px;
}

.btn-outline-info {
    color: #d06ffc;
    border-color: #d06ffc;
}

.btn-outline-info:hover {
    background: #d06ffc;
    border-color: #d06ffc;
}
