.card-line {
    display: flex;
    /* align-content: space-between; */
    /* align-items: center; */
}

input {
    border-radius: 25px;
    width: 100%;
}

.card-image {
    border-radius: 25px;
    width: 100%;
}

figure {
    margin-left: 16px;
    margin-right: 16px;
}

figcaption {
    text-align: center;
}
