.card-line {
    display: flex;
    align-content: space-between;
    align-items: center;
}

.seen-line {
    display: flex;
    align-content: space-between;
    align-items: center;
}

input {
    width: 10%;
}

.card-image {
    width: 100%;
}

.card-image-user {
    width: 10%;
}

figcaption {
    text-align: center;
}
